
* {border: none;}

body {font-family: Helvetica, arial, freesans, clean, sans-serif;}

#wrapper {width: 940px;
		margin: 0 auto;
		color: #333333;
}

main   {
	padding: 30px;
	border:1px solid #dddddd;
	font-size: 15px;
	line-height: 25.5px;
	}

main h1, h2 {
	padding: 10px 0 20px 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box;
}

main p { 
	margin: 15px 0;
	}

main code {
	line-height: 20.399999618530273px;
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
	background-color: #f8f8f8;
	border: 1px solid #dddddd;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 2px 3px;
	font-weight: 600;
}

pre {
	color: #00688B;
	font-size: 16px;
	background-color: #f8f8f8;
	border: 1px solid #dddddd;
	padding: 20px;
	}

pre code {
	border: none;
	}

.clearfix:after{ content: "";
		display: table;
		clear: both;}

a:link {color:#000000;}      /* unvisited link */
a:visited {color:#000000;}  /* visited link */
a:hover {color:#cccccc;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */